---
layout: default
title: My Blog
permalink: /blogs/
---

  <h1 class="page-heading">My Blogs</h1><br>
  
  <h2 class="black">Latest Post</h2>
    {% for post in site.posts limit:1 %}
        <li class="moveover">
            <span class="post-meta">{{ post.date | date: "%A %b %-d, %Y" }}</span>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p>{{ post.preview }}</p>
        </li>
    {% endfor %}

    <h2 class="black">Recent Posts</h2>
    <ul class="post-list">
    {% for post in site.posts offset:1 limit:4 %}
        <li class="moveover">
            <span class="post-meta">{{ post.date | date: "%A %b %-d, %Y" }}</span>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p>{{ post.preview }}</p>
        </li>
    {% endfor %}
  </ul>

</div>


